html,body,ul,li,a,div,p,form,input,img{
    padding:0;
    margin:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 13px;
    font-family:"微软雅黑",sans-serif;
}
ul,li{
    list-style:none;
}
a{
    color:#666;
    text-decoration: none;
}
input{
    outline: none;
    border:none;
    border:1px solid #ccc;
}
.f_left {
    float: left;
}
.f_right {
    float: right;
}

.m_left10 {
    margin-left: 10px;
}

.m_right10 {
    margin-right: 10px;
}

.m_top10 {
    margin-top: 10px;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}